@media screen and (max-width:576px) {
    
    .hero-container {
        width: 90vw;
        margin: 0 auto;
        padding: 80px 0px;
    
    }
    .hero-container h2 {
        font-size: 2.5em;
        line-height: 50px;
    }

    .hero-container p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;}


    .donate-today-container {
        width: 80vw;
        margin: 0 auto;
        padding: 100px 0px;
    }

    .donate-today-amount {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .donate-today-card{
        width:20vw;
        height: 50px;
     font-size: 15px;
  
     }
     .donate-today-title h3 {
        font-size: 44px;
    }

     .donate-today-title p {
        font-size: 14px;
    }

    .donate-today-input input::placeholder{
        font-size: 12px;
        letter-spacing: 1px;
    }

}


@media screen and (min-width:576px) and (max-width:790px) {


.hero-container {
    width: 80vw;
    margin: 0 auto;
    padding: 100px 0px;

}

.hero-container h2 {
    font-size: 55px;
}



.donate-today-container {
    width: 80vw;
    margin: 0 auto;
    padding: 130px 0px;
}
.donate-today-amount {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

}

@media screen and (min-width:790px) and (max-width:1024px) {
    
    .hero-container {
        width: 80vw;
        margin: 0 auto;
        padding: 100px 0px;
    
    }

    .hero-container h2 {
        font-size: 55px;
    }

    .donate-today-amount {
        display: flex;
        justify-content:start;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-top: 50px;
        margin-left: 25px;
    }
}