@media screen and (max-width:576px) {
    
    .hero-container {
        width: 90vw;
        margin: 0 auto;
        padding: 80px 0px;
    
    }
    .hero-container h2 {
        font-size: 2.5em;
        line-height: 50px;
    }

    .hero-container p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;}


    .donate-today-container {
        width: 80vw;
        margin: 0 auto;
        padding: 100px 0px;
    }

    .donate-today-amount {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .donate-today-card{
        width:20vw;
        height: 50px;
     font-size: 15px;
  
     }
     .donate-today-title h3 {
        font-size: 44px;
    }

     .donate-today-title p {
        font-size: 14px;
    }

    .donate-today-input input::placeholder{
        font-size: 12px;
        letter-spacing: 1px;
    }


/* //////////////////////// */


    .donate-plan-container{
        width:90vw;
        margin:0 auto;
    }

    .donate-plan-top-content-wrap{
        padding: 0px 40px;

}

.donate-plan-bottom-content-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap:wrap;
    margin-top: 50px;
    padding: 30px;
 
}

.survive-sec{
    padding: 0px 0px  150px;
    
    }

.survive-container{
    width: 90vw;
    margin:0 auto;   
 }
 .top-survive-wrap{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:50px;

}

.bottom-survive-wrap{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:50px;
}

.survive-img{
    width:calc(100% - 20px);
    height: 280px;
}

 .survive-img img{
    width:100%;
    height: 280px;
    
 }

 .survive-content
 {
    width:calc(100% - 20px);
 }


 .survive-content h2{
    font-size:35px;
   line-height:35px;
   margin-bottom: 15px;
}

.survive-content span{
 font-size: 15px;
 line-height: 23px;
 margin-bottom:20px;

}

.survive-content p{
    line-height:20px;
    font-size: 15px;
    margin-bottom:20px;
}

.get-container{
    width:90vw;
    
}

.get-text-wrap{
     width: 90%;
     
}

.get-text-wrap h2{
   font-size: 40px;
}

.get-text-wrap p{
font-size: 15px;
}

.get-input-wrap{
    padding:60px 0px;
    border-radius: 10px;
}

.get-input-wrap input{
    padding: 15px 0px 13px 17px;
}
.get-input-wrap button{
    padding: 12px 15px 12px;

} 
.humble-footer{
    padding:30px 0px ;
    }
    
    .humble-container{
         gap: 18px;
    }
    
    .humble-container h1{
        font-size: 30px;
        font-weight: 400;
    }
    



}


@media screen and (min-width:576px) and (max-width:790px) {


.hero-container {
    width: 80vw;
    margin: 0 auto;
    padding: 100px 0px;

}

.hero-container h2 {
    font-size: 55px;
}



.donate-today-container {
    width: 80vw;
    margin: 0 auto;
    padding: 130px 0px;
}
.donate-today-amount {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* //////////////////////////////// */

.donate-plan-container{
    width:90vw;
    margin:0 auto;
}

.donate-plan-top-content-wrap{
    padding: 0px 40px;

}

.donate-plan-bottom-content-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
 
}

.donate-plan-card1,.donate-plan-card2 ,.donate-plan-card3{
    width:calc(50% - 25px);
}



.donate-plan-card1, .donate-plan-card2 p ,.donate-plan-card3 p{
    font-size: 14px;
    line-height: 24px;
}


.donate-plan-card1 h2 ,.donate-plan-card2 h2 , .donate-plan-card3 h2{
font-size: 20px;
line-height: 36px;
}

/* //////////////////////// */

.survive-container{
    width: 90vw;
    margin:0 auto;   
 }

 .top-survive-wrap{
    gap:50px;

}

.bottom-survive-wrap{
 gap:50px;
}



 .survive-img img{
    height: 320px;
 }

 .survive-content h2{
    font-size:26px;
   line-height: 40px;
   margin-bottom: 15px;
}

.survive-content span{
 font-size: 13px;
 line-height: 23px;
 margin-bottom:15px;

}

.survive-content p{
    line-height:23px;
    font-size: 13px;
    margin-bottom:15px;
}

.survive-content button{
    padding: 16px 12px 16px 12px;
    font-size: 15px;
}



.get-container{
    width:90vw;
    
}

.get-text-wrap{
     width: 90%;
}

.get-input-wrap{
    padding:76px 60px;
}

.get-input-wrap input{
    padding: 16px 80px 14px 17px;
}
.get-input-wrap button{
    padding: 14px 26px;

} 

}

@media screen and (min-width:790px) and (max-width:1024px) {
    
    .hero-container {
        width: 80vw;
        margin: 0 auto;
        padding: 100px 0px;
    
    }

    .hero-container h2 {
        font-size: 55px;
    }

    .donate-today-amount {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
       
    }

/* /////////////////////// */


    .donate-plan-container{
        width:85vw;
        margin:0 auto;
    }

    .donate-plan-top-content-wrap{
        padding: 0px 40px;

}

.donate-plan-bottom-content-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:45px;

 
}

.donate-plan-card1,.donate-plan-card2 ,.donate-plan-card3{
   width:calc(50% - 25px);
}


.survive-container{
    width: 85vw;
    margin:0 auto;   
 }

 .survive-img img{
    height: 350px;
 }

 .survive-content h2{
    font-size:30px;
   line-height: 40px;
   margin-bottom: 15px;
}

.survive-content span{
 font-size: 14px;
 line-height: 23px;
 margin-bottom:15px;

}

.survive-content p{
    line-height:23px;
    font-size: 14px;
    margin-bottom:15px;
}


.get-container{
    width:85vw;
    
}

.get-text-wrap{
     width: 90%;
}

.get-input-wrap{
    padding:76px 120px;
}

.get-input-wrap input{
    padding: 15px 110px 14px 17px;
}

}


@media screen and (min-width:1024px) and (max-width:1150px) {
    .donate-plan-container {
        width: 90vw;
        margin: 0 auto;
    }
    
    .donate-plan-bottom-content-wrap{
        display: flex;
        justify-content:space-between;
        align-items: center;
    
     
    }

    .donate-plan-card1,.donate-plan-card2 ,.donate-plan-card3{
        width:30%;
     }


     .survive-container{
        width: 85vw;
        margin:0 auto;   
     }

     .survive-img img{
        height: 400px;
     }

     .survive-content h2{
        font-size:40px;
       
    }

    /* ////////////////////////// */


    .get-container{
        width:85vw;
        
    }
    
    .get-text-wrap{
         width: 90%;
    }
    
    .get-input-wrap{
        padding:76px 160px;
    }

}