@media screen and (max-width:576px) {
    
    .hero-container {
        width: 90vw;
        margin: 0 auto;
        padding: 80px 0px;
    
    }
    .hero-container h2 {
        font-size: 2.5em;
        line-height: 50px;
    }

    .hero-container p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;}


    .donate-today-container {
        width: 80vw;
        margin: 0 auto;
        padding: 100px 0px;
    }

    .donate-today-amount {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .donate-today-card{
        width:20vw;
        height: 50px;
     font-size: 15px;
  
     }
     .donate-today-title h3 {
        font-size: 44px;
    }

     .donate-today-title p {
        font-size: 14px;
    }

    .donate-today-input input::placeholder{
        font-size: 12px;
        letter-spacing: 1px;
    }


/* //////////////////////// */


    .donate-plan-container{
        width:90vw;
        margin:0 auto;
    }

    .donate-plan-top-content-wrap{
        padding: 0px 40px;

}

.donate-plan-bottom-content-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap:wrap;
    margin-top: 50px;
    padding: 30px;
 
}

}


@media screen and (min-width:576px) and (max-width:790px) {


.hero-container {
    width: 80vw;
    margin: 0 auto;
    padding: 100px 0px;

}

.hero-container h2 {
    font-size: 55px;
}



.donate-today-container {
    width: 80vw;
    margin: 0 auto;
    padding: 130px 0px;
}
.donate-today-amount {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
/* //////////////////////////////// */

.donate-plan-container{
    width:90vw;
    margin:0 auto;
}

.donate-plan-top-content-wrap{
    padding: 0px 40px;

}

.donate-plan-bottom-content-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
 
}

.donate-plan-card1,.donate-plan-card2 ,.donate-plan-card3{
    width:calc(50% - 25px);
}



.donate-plan-card1, .donate-plan-card2 p ,.donate-plan-card3 p{
    font-size: 14px;
    line-height: 24px;
}


.donate-plan-card1 h2 ,.donate-plan-card2 h2 , .donate-plan-card3 h2{
font-size: 20px;
line-height: 36px;
}





}

@media screen and (min-width:790px) and (max-width:1024px) {
    
    .hero-container {
        width: 80vw;
        margin: 0 auto;
        padding: 100px 0px;
    
    }

    .hero-container h2 {
        font-size: 55px;
    }

    .donate-today-amount {
        display: flex;
        justify-content:start;
        align-items: center;
        flex-wrap: wrap;
       
    }

/* /////////////////////// */


    .donate-plan-container{
        width:85vw;
        margin:0 auto;
    }

    .donate-plan-top-content-wrap{
        padding: 0px 40px;

}

.donate-plan-bottom-content-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:45px;

 
}

.donate-plan-card1,.donate-plan-card2 ,.donate-plan-card3{
   width:calc(50% - 25px);
}



}


@media screen and (min-width:1024px) and (max-width:1150px) {
    .donate-plan-container {
        width: 90vw;
        margin: 0 auto;
    }
    
    .donate-plan-bottom-content-wrap{
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap:30px;
    
     
    }

    .donate-plan-card1,.donate-plan-card2 ,.donate-plan-card3{
        width:30%;
     }

}